@charset "UTF-8";

/*
*    Mass Reset
*/
*{ margin: 0; padding: 0; border: 0; }

/*
*    Normal layout
*/
body{ background-color: #cccccc; font: normal 1rem Arial, sans-Serif;padding-left:5px; }
<style type="text/css">a {text-decoration: none}</style>
#lines { 
    border-bottom: 17px double black; 
    border-top: 6px solid black; 
    content:"";
    height: 5px; 
    width:30px;
}
img {display: block;width:100%;}
#wrapper{background-color:"#cccccc";
    width:100%;max-width:980px;margin:0 auto; font-family:arial;}
* a {text-decoration:none;}

 #content{ margin-left: 0; padding: 2px; position: relative; z-index: 100;max-width:980px; }


h1 {background-color:midnightblue;color:yellow;font-family:arial;font-size:2.5rem;display:inline-block;padding:0 10px;align:center;margin-left: auto;margin-right: auto;margin-top:20px;margin-bottom:20px;}
h2 {background-color:midnightblue;color:yellow;font-family:arial;font-size:30px;display:inline-block;padding:0 10px;margin-left: auto;
	margin-right: auto;margin-top:10px;margin-bottom:10px;}
h3 {background-color:midnightblue;color:yellow;font-family:arial;font-size:24px;display:inline-block;padding:0 10px;margin-left: auto;
	margin-right: auto;margin-top:5px;margin-bottom:5px;}


/*
*    When screen is smaller than 500px
*/
@media only screen and (max-width:500px){
p {font-size:1rem;}
a {text-decoration:none;}
}
.hidden_inmobile {
        display:none;
    }	
#wrapper #content{ margin-left: 0; }

/*
*    to have a single column row each with "section" tag if small screen
*/
section {
display: block;
  float: left;
  margin: 2%;
  width: 90%;
height:100%;

padding-left:5px;
font-size:1rem;
}
}






/*
*    When screen is between 501px and 730px
*/
@media only screen and (min-width:501px) and (max-width:730px){
p {font-size:1rem;}
.hidden_inmobile {
        display:none;
    }	
#wrapper #content{ margin-left: 0; }

/*
*    to have a 2 column row
*/
section {
box-sizing:border-box;
display: inline-block;
vertical-align:top;
  float: left;
  margin: 2%;
  width: 45%;
height:70%;
padding-left:5px;
font-size:1.2rem;
}
}






/*
*    When screen is between 731px and 960px
*/
@media only screen and (min-width:731px) and (max-width:960px){
p {font-size:1rem;}
.hidden_indesktop {
        display:none;
    }	
#wrapper #content{ margin-left: 0;margin-right:auto;max-width:800px; }

/*
*    to have a 3 column row
*/
section {
box-sizing:border-box;
display: inline-block;
vertical-align:top;
  float: left;
  margin: 2%;

  width: 27%;

height:44%;
padding-left:5px;
font-size:1.2rem;
}
}








/*
*    When screen is bigger than 960px 
*/
@media only screen and (min-width:961px){
.hidden_indesktop {
        display:none;
    }
	#wrapper #content{ width:980px;margin-left:auto;
	margin-right:auto;}
/*
*    to have a 4 column row each with section tag if big screen
*/
section {
display: block;
  float: left;
  margin: 1%;
padding:1%;
  width: 20%;
height:40%
font-size:1rem;
}

p {font-family:arial, sans-serif;font-size: 1rem;padding:3px;max-width:980px; }
img {max-width:800px;margin-left:auto;margin-right:auto;}
}

video {
  width: 800px;
  height: 600px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: relative;
	top: 0;
	left: 0;
	width: 800px;max-width:800px;
	height: 600px;
}
}

/*
*    to have a 4 column row each with section tag if big screen
*/
section {vertical-align:top;
display: block;
  float: left;
   margin: 1%;
padding:1%;
padding-bottom:2%;
  width: 25%;}
a {font-size:1rem;}
h3 {color:black}
}

.right {display:block;float:right; margin-right:0;}
.left {display:block;float:left; margin-left:10px;}

img {border:1px solid black;width:100%;}


video {
  width: 100%;
  height: auto;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
