@charset "ISO-8859-1";

/*
*    Mass Reset
*/
*{ margin: 0; padding: 0; border: 0; }

/*
*    Normal layout
*/
body{ background-color: #cccccc; font: normal 1rem Arial, sans-Serif;padding-left:2px; }
h1 {background-color:midnightblue;color:yellow;font-family:arial;font-size:36px;display:inline-block;padding:0 10px;text-align:center;margin: 10px auto;}
h2 {background-color:midnightblue;color:yellow;font-family:arial;font-size:30px;display:inline-block;padding:0 10px;margin: 10px auto;}
h3 {background-color:midnightblue;color:yellow;font-family:arial;font-size:24px;display:inline-block;padding:0 10px;margin: 10px auto;}
img {border:1px solid black;width:100%;max-width:980px;}
table {width:100%;max-width:980px;}
* a {text-decoration:none;}
p {font-family:tahoma, arial;width:100%;max-width:980px;}
#wrapper{background-color:"#cccccc";width:100%;max-width:980px;margin:0 auto; font-family:arial;}
#content{ margin:0; padding: 2px; position: relative; z-index: 100; }
.right {display:block;float:right; margin-right:0;}
.left {display:block;float:left; margin-left:5px;}
#lines {border-bottom: 17px double black;border-top: 6px solid black;content:"";height: 5px;width:30px;}


<?/* put box-sizing:border-box; in each section? section's display block or inline-block?  */?>

/* 
*    When screen is smaller than 500px, to have a 1-column row
*/
@media only screen and (max-width:500px)
{
.hidden_inmobile {display:none;}	
section {vertical-align:top;display: inline-block;float: left;margin: 2%;width: 90%;height:100%;padding-left:5px;font-size:1rem;}
}



/*
*    When screen is between 501px and 730px, to have a 2-column row
*/
@media only screen and (min-width:501px) and (max-width:730px)
{
.hidden_inmobile {display:none;}	
section {vertical-align:top;display: inline-block;vertical-align:top;float: left;margin: 2%;width: 45%;height:70%;padding-left:5px;font-size:1.2rem;}
}



/*
*    When screen is between 731px and 980px, to have a 3-column row
*/
@media only screen and (min-width:731px) and (max-width:980px)
{
.hidden_indesktop {display:none;}	
section {vertical-align:top;display: inline-block;vertical-align:top;float:left;margin: 2%;width: 27%;height:44%;padding-left:5px;}
}



/*
*    When screen is bigger than 980px, to have a 4-column row 
*/
@media only screen and (min-width:981px)
{
.hidden_indesktop {display:none;}
section {vertical-align:top;display:inline-block;float:left;margin:1%;padding:1%;width:20%;height:40%;}
}
